<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="logfile" fileName="file.txt" />
		<target xsi:type="Database" name="database" connectionString="YourConnectionStringHere" commandText="INSERT INTO LogTable (Date, Level, Logger, Message, Exception) VALUES (@time_stamp, @level, @logger, @message, @exception)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,database" />
	</rules>
</nlog>
